<h1>スタッフブログ一覧</h1>
<%= render 'layouts/flash_messages' %>
<% if @staff.present? %>
  <div>
    <%= link_to "新規作成", new_staff_blog_path(@staff), class: "btn btn-info" %>
  </div>
<% end %>
<% @blogs.each_with_index do |blog, n| %>
  <div class="pyramid_parent_1">
    <div class="pyramid_box_1">
      <!-- blogインスタンスの画像ファイルのURLを取得し表示 -->
      <p><%= link_to (image_tag(blog.image.thumb.to_s, alt: "show#{n}") if blog.image?), staff_blog_url(Staff.find(blog.staff_id), blog) %></p>
    </div>
    <div class="pyramid_box_2">
      <div class="blog_title">
        <%= blog.title %>
      </div>
      <div class="pyramid_parent_2">
        <div class="pyramid_box_3">
          <%= blog.datetime %>
        </div>
        <% staff = Staff.find(blog.staff_id) %>
        <div class="pyramid_box_4">
          <%= staff.name %>
        </div>
      </div>
      <div class="pyramid_parent_3">
        <% if current_staff.present? && (current_staff.admin == true || current_staff.id == blog.staff_id) %>
          <div class="pyramid_box_5">
            <%= link_to "編集", edit_staff_blog_path(staff, blog), class: "btn btn-primary edit#{n}" %>
          </div>
          <div class="pyramid_box_6">
            <%= link_to "削除", staff_blog_path(staff, blog), method: :delete,
                                        data: {confirm: "削除してよろしいですか？" },
                                        class: "btn btn-danger delete#{n}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
