<div class="blog-show container col-lg-8">
  <%= render 'layouts/flash_messages' %>
  <!--<div class="blog-title">
    <h1>スタッフブログ詳細表示</h1>
  </div>-->
  <div class = "blog_title_name">
    <h3><%= @blog.title %></h3>
  </div>
  <h6><%= l(@blog.created_at, format: :longdatetime) %></h6>
  <p><%== Rinku.auto_link(@blog.content, :all, 'target="_blank"').html_safe if @blog.content.present? %></p>

  <div>
    <%= link_to "戻る", :back, class: "btn btn-outline-secondary btn-resize" %>
  </div>
</div>
