<h1>受講生一覧</h1>
<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row">
    <div class="d-flex align-items-center student--index col-1">
      ID
    </div>
    <div class="d-flex align-items-center student--index col-2">
      名前
    </div>
    <div class="d-flex align-items-center student--index col-3">
      Eメール
    </div>
    <div class="d-flex align-items-center student--index col-2">
      コース
    </div>
    <div class="d-flex align-items-center student--index col-2">
      電話番号
    </div>
    <% if current_staff.present? && current_staff.admin == true %>
      <div class="d-flex align-items-center student--index col-1">
      </div>
      <div class="d-flex align-items-center student--index col-1">
      </div>
    <% end %>
  </div>
  <% @students.each do |student| %>
    <div class="row justify-content-md-center">
      <div class="d-flex align-items-center border-top d-flex align-items-center student--index col-1">
        <%= student.id %>
      </div>
      <% if current_staff.present? %>
        <div class="border-top d-flex align-items-center student--index col-2">
          <%= link_to student.name, student_edit_admin_path(student_id: student.id) %>
        </div>
      <% else %>
          <div class="border-top d-flex align-items-center student--index col-2">
            <%= student.name %>
          </div>
      <% end %>
      <div class="border-top d-flex align-items-center student--index col-3">
        <%= student.email %>
      </div>
      <div class="border-top d-flex align-items-center student--index col-2">
        <% if student.course_type == "therapist_training" %>
          セラピスト養成コース
        <% elsif student.course_type == "self_care" %>
          セルフケアコース
        <% end %>
      </div>
      <div class="border-top d-flex align-items-center student--index col-2">
        <%= student.phone_number %>
      </div>
      <% if current_staff.present? %>
        <div class="border-top d-flex align-items-center student--index col-1">
          <%= link_to "削除", student, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
        </div>
        <div class="border-top d-flex align-items-center student--index col-1">
          <%= link_to "詳細", student_path(student) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<%= will_paginate(@pusers, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', class: "pagination justify-content-center mt-6 mb-7", renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<%= link_to "戻る", admin_screen_path, class: "btn btn-primary" %>
