<h1>管理者画面</h1>

<ul class="list-group-flush">
  <li class="list-group-item">
    <%= link_to 'スタッフブログ投稿', staff_blogs_path %>
  </li>
  <li class="list-group-item">
    <%= link_to '開講スケジュール投稿', start_schedules_path %>
  </li>
  <li class="list-group-item">
    <%= link_to '受講生管理', students_path %>
  </li>
  <li class="list-group-item">
    <%= link_to 'せらポケ管理', serapoke_path %>
  </li>
  <li class="list-group-item">
    <%= link_to 'ディプロマ作成', diploma_path %>
  </li>
</ul>
