<h1>開講スケジュール一覧</h1>

<!--開講スケジュール一覧テーブル-->
<div class="col-md-10 offset-md-1">
  <div class="btn-schedule-new">
    <%= link_to "新規追加", new_schedule_path(@schedule), class: "btn btn-info" %>
  </div>
  <table class="table table-bordered table-striped table-condensed" id="index-schedule">
    <tr>
      <th>作成日</th>
      <th>開催日</th>
      <th>タイトル</th>
      <th>種類</th>
      <th>地域</th>
      <th>講師</th>
      <th></th>
      <th></th>
    </tr>

    <% @schedules.each do |s| %>
      <tr>
        <td><%= l(s.created_at, format: :long) %></td>
        <td></td>
        <td><%= s.title %></td>
        <td><%= s.type %></td>
        <td><%= s.area %></td>
        <td><%= s.teacher %></td>
        <td><%= image_tag s.image.thumb.to_s if s.image? %></td>
        <td><%= link_to "詳細", schedule_path(s), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </table>
  <div class="center">
    <%= link_to "<　戻る", '#', class: "btn btn-outline-secondary" %>
  </div>
</div>