<% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>イベント/講座一覧</h1>
<% end %>


<!--開講スケジュール一覧テーブル-->
<div class="col-md-10 offset-md-1">

  <!--検索フォーム------------------------------------------------------------------------------------------------>
  <div class="col-md-4 offset-md-8 row">
    <% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
      <p>検索条件：</p>
    <% end %>
    <% if params[:area].present? %>
      <p>【<%= Schedule.areas.key(params[:area].to_i) %>】</p>
    <% end %>
    <% if params[:event_type].present? %>
      <p>【<%= Schedule.event_types.key(params[:event_type].to_i) %>】</p>
    <% end %>
    <% if params[:teacher].present? %>
      <p>【<%= Schedule.teachers.key(params[:teacher].to_i) %>】</p>
    <% end %>

    <%= form_tag(schedules_path, method: "get") do %>
      <%= select_tag :area, options_for_select(Schedule.areas), prompt: "開催エリア", class: 'form-control' %>
      <%= select_tag :event_type, options_for_select(Schedule.event_types), prompt: "種別", class: 'form-control' %>
      <%= select_tag :teacher, options_for_select(Schedule.teachers), prompt: "セラピスト", class: 'form-control' %>
      <%= submit_tag "検索", class: "btn btn-info" %>
    <% end %>
  </div>
  <!-------------------------------------------------------------------------------------------------------->

  <% if current_staff.present? %>
    <div class="btn-schedule-new">
      <%= link_to "新規追加", new_schedule_path(@schedule), class: "btn btn-info" %>
    </div>
  <% end %>
  <div class="contents-wrap">
    <% @schedules.each do |s| %>
      <% if s.public_status == '非公開' %>
        <div class="contents-box-opacity">
      <% else %>
        <div class="contents-box">
      <% end %>
        <div class="contents">
          <p>
            <%= l(s.created_at, format: :long) %>
            <% if s.event_type == "イベント" %>
              <button type="button" class="btn btn-outline-success btn-sm">イベント</button>
            <% else %>
              <button type="button" class="btn btn-outline-primary btn-sm">講座</button>
            <% end %>
          </p>
          <p>
            <% if s.judgement_of_members == true %>
              <button type="button" class="btn btn-outline-danger btn-sm">会員限定</button>
            <% end %>
          </p>
          <div class="thumbnail">
            <% if s.image? %>
              <% if s.public_status == '中止' %>
                <%= link_to (image_tag s.image.thumb.to_s), s, class: "thumb-image-cancel" %>
                <p>中止</p>
              <% else %>
                <%= link_to (image_tag s.image.thumb.to_s), s, class: "thumb-image" %>
              <% end %>
            <% elsif s.public_status == '中止' %>
              <image src="/assets/default.jpg" width="200" height="200" class="thumb-image-cancel">
              <p>中止</p>
            <% else %>
              <image src="/assets/default.jpg" width="200" height="200">
            <% end %>
          </div>
          <label><%= link_to (s.title), s %></label><br>
          <label>開催エリア：<%= s.area %></label><br>
          <% if s.date != nil %>
            <label>開催日：<%= l(s.date, format: :default) %></label><br>
          <% else %>
            <p></p>
          <% end %>
          <label>セラピスト名：<%= s.teacher %></label><br>

          <% if current_staff.present? %>
            <%= link_to "編集", edit_schedule_path(s), class: "btn btn-primary" %>
            <%= link_to "削除", schedule_path(s), method: :delete,
                  data: {confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @schedules, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', class: "pagination justify-content-center mt-6 mb-7 btn--resize", renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>　
  <div class="center">
    <% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
      <%= link_to "<　一覧へ戻る", schedules_path, class: "btn btn-outline-secondary" %>
    <% else %>
      <!-- 「staff_toppage_routes」はstaffs_helper.rbに記載 -->
      <% if current_staff.present? %>
        <%= link_to "<　戻る", staff_toppage_routes(current_staff), class: "btn btn-outline-secondary" %>
      <% else %>
        <%= link_to "<　戻る", therapist_training_course_path, class: "btn btn-outline-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>