<% if params[:search].present?%>
  <h1>検索結果</h1>
<% elsif params[:search].blank? %>
  <h1>開講スケジュール一覧</h1>
<% end %>

<div class="col-md-4 offset-md-8">
  <%= form_tag(schedules_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '項目検索' %>
  <% end %>
</div>


<!--開講スケジュール一覧テーブル-->
<div class="col-md-10 offset-md-1">
  <div class="btn-schedule-new">
    <%= link_to "新規追加", new_schedule_path(@schedule), class: "btn btn-info" %>
  </div>
  <div class="contents-wrap">
    <% @schedules.each do |s| %>
      <div class="contents-box">
        <p>
          <%= l(s.created_at, format: :long) %>
          <% if s.event_type == "イベント" %>
            <button type="button" class="btn btn-outline-success btn-sm">イベント</button>
          <% else %>
            <button type="button" class="btn btn-outline-primary btn-sm">講座</button>
          <% end %>
         </p>
        <p><%= link_to (image_tag s.image.thumb.to_s if s.image?), s, class: "thumb-image" %></p>
        <label><%= link_to (s.title), s %></label><br>
        <label>開催エリア：<%= s.area %></label><br>
        <% if s.date != nil %>
          <label>開催日：<%= l(s.date, format: :default) %></label><br>
        <% else %>
          <p></p>
        <% end %>
        <label>セラピスト名：<%= s.teacher %></label><br>

        <%= link_to "編集", edit_schedule_path(s), class: "btn btn-primary" %>
        <%= link_to "削除", schedule_path(s), method: :delete,
              data: {confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
  <div class="center">
    <% if params[:search].present?%>
      <%= link_to "<　一覧へ戻る", schedules_path, class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to "<　戻る", '#', class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>