<%= render 'layouts/flash_messages' %>
<% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>イベント / 講座一覧</h1>
<% end %>


<!--開講スケジュール一覧テーブル-->
<div class="col-md-10 offset-md-1">

  <!--検索フォーム------------------------------------------------------------------------------------------------>
  <div class="seach-results col-md-6 offset-md-8 row">
    <% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
      <p>検索条件：</p>
    <% end %>
    <% if params[:area].present? %>
      <p>【<%= params[:area] %>】</p>
    <% end %>
    <% if params[:event_type].present? %>
      <p>【<%= params[:event_type] %>】</p>
    <% end %>
    <% if params[:teacher].present? %>
      <p>【<%= params[:teacher] %>】</p>
    <% end %>
  </div >  
  <div class="seach-forms col-md-4 offset-md-8"> <!--末尾に row を入れると検索フォーム幅が狭くなる-->
    <%= form_with(url: schedules_path, method: :get, local: true) do |f| %>
      <%= f.select :area, ['関東', '関西', '中国・四国', '九州', 'オンライン'], {prompt: "開催エリア"}, {class: 'form-control'} %>
      <%= f.select :event_type, ['イベント', '講座', 'セミナー', 'その他'], {prompt: "種別"}, {class: 'form-control'} %>
      <%= f.collection_select :teacher, Staff.all, :name, :name, {prompt: "セラピスト"}, {class: "form-control"} %>
      <%= f.submit "検索", class: "btn btn-info" %>
    <% end %>
  </div>
  <!--会員限定のみチェックボックス---------------------------------------------->
  <%# <label><input id="judgement_of_members" type="checkbox">会員限定のみ</label> %>
  <%= form_with(url: schedules_path, method: :get, local: true) do |f| %>
    <%= f.check_box :judgement_of_members %>
    <%= f.label :会員限定のみ %>
    <%= f.submit "表示" %>
  <% end %>

  <%# <script>
    $(function(){
      $('#judgement_of_members').change(function(){
        $('.member-false').toggle();
      })
    })
  </script> %>
  <!-------------------------------------------------------------------------->    

  <% if current_staff.present? %>
    <div class="btn-schedule-new">
      <%= link_to "新規追加", new_schedule_path(@schedule), class: "btn btn-info" %>
    </div>
  <% end %>
  <div class="contents-wrap">
    <% @schedules.each do |s| %>
    <% if s.public_status == '非公開' %>
      <div class="contents-box-opacity member-<%= s.judgement_of_members %>">
    <% else %>
      <div class="contents-box member-<%= s.judgement_of_members %>">
    <% end %>
        <div class="contents">
          <div>
            <%= l(s.created_at, format: :long) %>
            <% if s.event_type == "イベント" %>
              <button type="button" class="btn btn-outline-success w-60 p-0">イベント</button>
            <% elsif s.event_type == "講座" %>
              <button type="button" class="btn btn-outline-primary w-60 p-0">講座</button>
            <% elsif s.event_type == "セミナー" %>
              <button type="button" class="btn btn-outline-warning w-40 p-0">セミナー</button>
            <% elsif s.event_type == "その他" %>
              <button type="button" class="btn btn-secondary w-60 p-0">その他</button>
            <% end %>
          </div>
          <div class="only-members">
            <% if s.judgement_of_members == true %>
              <button type="button" class="btn btn-outline-danger p-0">会員限定</button>
            <% else %>
              <button type="button" class="btn btn-outline btn-sm" disabled>　</button>
            <% end %>
          </div>
          <div class="thumbnail">
            <% if s.image? %>
              <% if s.public_status == '中止' %>
                <%= link_to (image_tag s.image.thumb.to_s), s, class: "thumb-image-message" %>
                <div class="cancel">中止</div>
              <% elsif s.public_status == '延期' %>
                <%= link_to (image_tag s.image.thumb.to_s), s, class: "thumb-image-message" %>
                <div class="postponed">延期</div>
              <% else %>
                <%= link_to (image_tag s.image.thumb.to_s), s, class: "thumb-image" %>
              <% end %>
            <% elsif s.public_status == '中止' %>
              <image src="/assets/default.jpg" width="200" height="200" class="thumb-image-message">
              <div class="cancel">中止</div>
            <% elsif s.public_status == '延期' %>
              <image src="/assets/default.jpg" width="200" height="200" class="thumb-image-message">
              <div class="postponed">延期</div>
            <% else %>
              <image src="/assets/default.jpg" width="200" height="200">
            <% end %>
          </div>
          <label><%= link_to (s.title), s %></label><br>
          <label>開催エリア：<%= s.area %></label><br>
          <% if s.date != nil %>
            <label>開催日：<%= l(s.date, format: :default) %></label><br>
          <% else %>
            <p></p>
          <% end %>
          <label>セラピスト名：<%= s.teacher %></label><br>

          <% if current_staff.present? %>
            <%= link_to "編集", edit_schedule_path(s), class: "btn btn-primary" %>
            <%= link_to "削除", schedule_path(s), method: :delete,
                  data: {confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @schedules, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', class: "pagination justify-content-center mt-6 mb-7 btn--resize", renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>　
  <div class="center">
    <% if params[:area].present? || params[:event_type].present? || params[:teacher].present? %>
      <%= link_to "<　一覧へ戻る", schedules_path, class: "btn btn-secondary" %>
    <% else %>
      <!-- 「staff_toppage_routes」はstaffs_helper.rbに記載 -->
      <% if current_staff.present? %>
        <%= link_to "<　戻る", staff_toppage_routes(current_staff), class: "btn btn-secondary" %>
      <% elsif current_student.present? %>
        <%= link_to "<　戻る", student_toppage_routes(current_student), class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "<　戻る", 'https://www.eartherage.com/', class: "btn btn-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>
