<header>
  <nav class="navbar navbar-expand navbar-light" style="background-color:#ffe1fc;">
    <ul class="navbar-nav mr-auto">
      <% if student_signed_in? %>
        <!--「student_toppage_routes」はstudents_helper.rbに記載-->
        <%= link_to "EarTherage", student_toppage_routes(current_student), class: 'navbar-brand' %>
      <% elsif staff_signed_in? %>
        <!--「staff_toppage_routes」はstaffs_helper.rbに記載-->
        <%= link_to "EarTherage", staff_toppage_routes(current_staff), class: 'navbar-brand' %>
      <% else %>
        <%= link_to "EarTherage", root_path, class: 'navbar-brand' %>
      <% end %>  
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if student_signed_in? %>
          
          <!--ロゴ画像　ドロップダウンメニュー-->
          <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">
              <%= image_tag "eartherage_logo.jpg", class: "eartherage_logo" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <!--「mypage_routes」はstudent_helper.rbに記載-->
              <li><%= link_to 'マイページ', mypage_routes(current_student), class: 'nav-link' %></li>
              <li><%= link_to "スタッフブログ", "#", class: 'nav-link' %></li>
              <li><%= link_to "イベント/セミナー", "#", class: 'nav-link' %></li>
              <li><%= link_to "せらぽけ", "#", class: 'nav-link' %></li>
              <div class="dropdown-divider"></div>
              <li>
                <%= link_to 'ログアウト', destroy_student_session_path, data: { confirm: "ログアウトしてよろしいですか？" },
                                                                      method: :delete, class: 'nav-link' %>
              </li>
            </ul>
          </li>
          
        <% elsif staff_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "student新規登録", new_student_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "staff新規登録", new_staff_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>  
  </nav>
</header>
